/**
 * Main
 * Escrito para la web:
 * http://www.dramayraquezada.com/
 *
 * Copyright 2018 Oderbiz | Pablo Sarango
 *
 * Released on: Septiembre 6, 2018
 */

@font-face {
	font-family: VeniceSerif-Bold;
	src: url("../fonts/venice/VeniceSerif-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: VeniceSerif-Regular;
	src: url("../fonts/venice/VeniceSerif-Regular.otf");
}

@font-face {
	font-family: Bariol-Bold;
	src: url("../fonts/bariol/Bariol-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: Bariol-Light;
	src: url("../fonts/bariol/Bariol-Light.otf");
	font-weight: lighter;
}

@font-face {
	font-family: Bariol-Regular;
	src: url("../fonts/bariol/Bariol-Regular.otf");
}

@font-face {
	font-family: Gotham-Medium;
	src: url("../fonts/gotham/Gotham-Medium.otf");
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

.padre {
	width: 100%;
	height: auto;
}

.section-head {
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../img/12.jpg");
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cabecera {
	height: auto;
	width: 100%;
	left: 0;
	top: 0;
	background-color: white;
}

.logo {
	width: 130px;
	height: 70px;
	margin: auto auto;
}

.img-logo {
	width: 100%;
	height: 100%;
}

nav {
	height: auto;
	margin: auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 27px;
}

nav ul li {
	display: block;
}

nav ul li a {
	font-family: Bariol-Light;
	font-size: 15pt;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	text-align: center;
	color: rgba(15, 73, 101, 1);
}

.panel {
	float: left;
	width: 70%;
	height: 40%;
	margin-left: 5%;
	margin-top: 5%;
}

.nombre {
	width: 100%;
	height: auto;
	font-family: Gotham-Medium;
	font-size: 23pt;
	color: rgba(15, 73, 101, 1);
	display: flex;
	line-height: 1;
}

.nombre span {
	align-self: flex-end;
}

.tipo {
	width: 100%;
	height: auto;
	font-family: Gotham-Medium;
	font-size: 23pt;
	color: rgba(214, 178, 100, 1);
	display: flex;
}

.tipo span {
	align-self: flex-end;
}

.texto-head {
	width: 70%;
	height: 15%;
	text-align: right;
	position: absolute;
	height: auto;
	bottom: 0;
	right: 0;
}

.texto-head p {
	font-family: Bariol-Regular;
	font-size: 19pt;
	color: black;
	padding-right: 5%;
}

.slides-text {
	display: none;
}

.w3-animate-fading {
	animation: fading 7s infinite
}

@keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.section-two {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(214, 178, 100, 0.1);
}

.container-bienvenida {
	width: 98%;
	height: 100%;
}

.foto {
	padding-top: 5%;
	margin: auto auto;
	width: 80%;
	height: -webkit-calc(100% - 20px);
	height: expression(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: -o-calc(100% - 20px);
	height: calc(100% - 20px);
}

.foto img {
	width: 100%;
	height: 100%;
}

.texto-foto {
	padding-top: 5%;
	padding-bottom: 5%;
	margin: auto auto;
	width: 80%;
	height: -webkit-calc(100% - 20px);
	height: expression(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: -o-calc(100% - 20px);
	height: calc(100% - 20px);
}

.titulo {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Gotham-Medium;
	font-size: 21pt;
	color: rgba(15, 73, 101, 1);
}

.descripcion {
	padding-top: 3%;
	width: 100%;
	height: 70%;
	font-family: Bariol-Regular;
	font-size: 15pt;
	color: black;
	text-align: justify;
}

.section-three {
	background-color: white;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grilla {
	position: relative;
	width: 90%;
	height: fit-content;
}

.c1 {
	padding-top: 35%;
	width: 100%;
	height: fit-content;
}

.g1 {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.g2 {
	padding-top: 30%;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c2 {
	padding-top: 30%;
	width: 100%;
	height: fit-content;
}

.g3 {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.g4 {
	padding-top: 30%;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c3 {
	padding-top: 30%;
	width: 100%;
	height: fit-content;
	padding-bottom: 20%;
}

.g5 {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.g6 {
	padding-top: 30%;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 100%;
	height: 100%;
	border: 2px solid #f0f0f0;
	position: relative;
}

.card-img {
	position: relative;
	top: -15%;
	width: 80px;
	height: 80px;
	background-color: rgba(214, 178, 100, 1);
	left: -webkit-calc(50% - 40px);
	left: expression(50% - 40px);
	left: -moz-calc(50% - 40px);
	left: -o-calc(50% - 40px);
	left: calc(50% - 40px);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

.card-img img {
	width: 75%;
	height: 75%;
}

.card-title {
	position: relative;
	top: -12%;
	width: 80%;
	height: 20%;
	margin: auto auto;
	text-align: center;
	color: rgba(15, 73, 101, 1);
	font-family: Gotham-Medium;
	font-size: 13pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-texto {
	position: relative;
	top: -10%;
	width: 80%;
	height: auto;
	margin: auto auto;
	text-align: justify;
	color: rgba(15, 73, 101, 1);
	font-family: Bariol-Regular;
	font-size: 13pt;
	overflow-y: auto;
}

.card-tipo {
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	background-color: rgba(214, 178, 100, 1);
	color: white;
	font-family: Gotham-Medium;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
	overflow-y: hidden;
}

.card-tipo:hover {
	height: 79%;
	overflow-y: auto;
}

.detalles {
	font-family: Gotham-Medium;
	font-size: 12pt;
}

.section-galery {
	background-color: rgba(214, 178, 100, 0.1);
	width: 100%;
	height: 650px;
}

.galery-container {
	width: 97%;
	height: 500px;
	margin: auto auto;
	position: relative;
	top: 10%;
}

.swiper-container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.gallery {
	background: rgba(15, 73, 101, 1);
}

.contenido {
	width: 90%;
	height: 90%;
	position: relative;
	background-color: rgba(15, 73, 101, 1);
	overflow: hidden;
}

.imgslider {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.slide-desc {
	width: 80%;
	height: 50px;
	line-height: 50px;
	background-color: #34BC9D;
	position: absolute;
	bottom: 0;
	margin-left: 10%;
	font-family: Bariol-Regular;
	font-size: 13pt;
	color: white;
	text-align: center;
}

.texto-slider {
	width: 100%;
	height: 80px;
	position: relative;
	margin: auto auto;
	top: 10%;
	font-family: Gotham-Medium;
	font-size: 15pt;
	color: rgba(15, 73, 101, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section-products {
	background-color: white;
	width: 100%;
	height: 80vh;
}

.contenido-products {
	width: 90%;
	height: 90%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-products {
	width: 80%;
	height: 80%;
}

.texto-products {
	width: 100%;
	height: 20%;
	padding-top: 5%;
	font-family: Gotham-Medium;
	font-size: 20pt;
	color: rgba(15, 73, 101, 1);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-products {
	width: 97%;
	height: 70%;
	border-radius: 5px;
	margin: auto auto;
}

.products-desc {
	width: 50%;
	height: 50px;
	line-height: 50px;
	background-color: #34BC9D;
	position: absolute;
	top: 0;
	font-family: Bariol-Regular;
	font-size: 14pt;
	color: white;
	text-align: center;
}

.section-four {
	background-color: rgba(214, 178, 100, 0.1);
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario {
	width: 97%;
	height: 95%;
}

.izquierda {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto-contacto {
	width: 98%;
	height: 60%;
	/*border-right: 3px solid rgba(15, 73, 101, 1);*/
	color: rgba(15, 73, 101, 1);
}

.text1 {
	width: 100%;
	height: 60%;
	font-family: Gotham-Medium;
	font-size: 25pt;
	position: relative;
}

.text1 div {
	position: absolute;
	width: 90%;
	bottom: 0;
	left: 5%;
	text-align: center;
}

.text2 {
	width: 100%;
	height: 40%;
	font-family: VeniceSerif-Regular;
	text-align: center;
	font-size: 20pt;
}

.derecha {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 80%;
	height: auto;
	font-family: Bariol-Regular;
	font-size: 14pt;
}

.campo-form {
	width: 100%;
	height: 36px;
	margin: 2px 0 6px;
	padding-left: 6px;
	border-radius: 5px;
	border: 0;
	font-size: 1em;
}

input,
textarea {
	background-color: rgba(0, 0, 0, 0.1);
}

label {
	color: rgba(15, 73, 101, 1);
}

label span {
	color: #f00
}

textarea {
	min-height: 100px !important;
}

.btn-form {
	display: inline-block;
	border: 0;
	height: 46px;
	border-radius: 6px;
	background-color: #444;
	color: rgba(214, 178, 100, 1);
	line-height: 46px;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-form:hover {
	background: rgba(15, 73, 101, 1);
}

.section-five {
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../img/map.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacto {
	width: 97%;
	height: 95%;
}

.contacto-texto {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.informacion {
	width: 100%;
	height: 90%;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.informacion-titulo {
	padding-top: 10%;
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Gotham-Medium;
	font-size: 15pt;
	color: rgba(214, 178, 100, 1);
	border-bottom: 3px solid rgba(15, 73, 101, 1);
	margin-left: auto;
	margin-right: auto;
}

.informacion-detalle {
	width: 80%;
	height: 80%;
	text-align: justify;
	font-family: VeniceSerif-Regular;
	font-size: 16pt;
	color: rgba(15, 73, 101, 1);
	margin-left: auto;
	margin-right: auto;
}

.icon {
	float: left;
	width: 20%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-content {
	float: left;
	width: 80%;
	height: 30%;
	display: flex;
	align-items: center
}

.mapa {
	width: 100%;
	height: 50%;
}

.section-six {
	width: 100%;
	height: 100px;
	background-color: rgba(214, 178, 100, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-seven {
	background-color: rgba(214, 178, 100, 1);
	width: 100%;
	height: 50px;
}

.copyright {
	float: right;
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Bariol-Regular;
	color: rgba(15, 73, 101, 1);
	font-size: 13pt;
}

.media-autors {
	float: right;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Bariol-Regular;
	color: rgba(15, 73, 101, 1);
	font-size: 13pt;
}

@media only screen and (min-width: 568px) {
	nav ul li {
		display: inline-block;
	}

	.panel {
		width: auto;
		height: auto;
		margin-top: 5%;
	}

	.nombre {
		font-size: 20pt;
	}

	.tipo {
		font-size: 20pt;
	}

	.texto-head {
		position: absolute;
		height: auto;
		bottom: 0;
		right: 0;
	}

	.foto {
		width: 40%;
	}

	.titulo {
		font-size: 18pt;
	}

	.descripcion {
		font-size: 14pt;
	}

	.c1 {
		padding-top: 15%;
		width: 70%;
		margin: auto auto;
	}

	.c2 {
		padding-top: 20%;
		width: 70%;
		height: fit-content;
		margin: auto auto;
	}

	.c3 {
		padding-top: 20%;
		width: 70%;
		height: fit-content;
		padding-bottom: 15%;
		margin: auto auto;
	}

	.section-products {
		height: 100vh;
	}

	.section-five {
		height: 900px;
	}

	.contacto-texto {
		width: 75%;
		height: 45%;
		margin: auto auto;
	}

	.mapa {
		height: 55%;
	}
}

@media only screen and (min-width: 600px) {
	nav ul li {
		display: inline-block;
	}

	.panel {
		width: auto;
		height: auto;
		position: absolute;
		left: 10%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

	.texto-head {
		position: absolute;
		height: auto;
		bottom: 0;
		right: 0;
	}

	.foto {
		width: 40%;
	}

	.titulo {
		font-size: 18pt;
	}

	.descripcion {
		font-size: 14pt;
	}

	.c1 {
		padding-top: 15%;
		width: 70%;
		margin: auto auto;
	}

	.c2 {
		padding-top: 20%;
		width: 70%;
		height: fit-content;
		margin: auto auto;
	}

	.c3 {
		padding-top: 20%;
		width: 70%;
		height: fit-content;
		padding-bottom: 15%;
		margin: auto auto;
	}

	.section-five {
		height: 900px;
	}

	.contacto-texto {
		width: 75%;
		height: 45%;
		margin: auto auto;
	}

	.mapa {
		height: 55%;
	}
}

@media screen and (min-width: 1024px) {
	.cabecera {
		display: table;
	}

	.logo {
		width: 130px;
		height: 70px;
		padding-left: 100px;
		display: table-cell;
		vertical-align: middle;
	}

	nav {
		float: right;
		margin-top: 30px;
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

	nav ul li {
		display: inline-block;
		line-height: auto;
	}

	nav ul li a {
		font-family: Bariol-Light;
		font-size: 18pt;
		margin-left: 20px;
		display: block;
		padding: 0 10px;
		text-decoration: none;
		color: rgba(15, 73, 101, 1);
	}

	.nombre {
		font-size: 23pt;
	}

	.tipo {
		font-size: 23pt;
	}

	.section-two {
		width: 100%;
		height: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(214, 178, 100, 0.1);
	}

	.container-bienvenida {
		width: 70%;
		height: 90%;
	}

	.foto {
		float: left;
		margin-left: 20px;
		margin-top: 10px;
		width: 230px;
		height: -webkit-calc(100% - 20px);
		height: expression(100% - 20px);
		height: -moz-calc(100% - 20px);
		height: -o-calc(100% - 20px);
		height: calc(100% - 20px);
		padding-top: 0;
		margin: 0;
	}

	.foto img {
		width: 100%;
		height: 100%;
	}

	.texto-foto {
		float: right;
		margin-right: 20px;
		margin-top: 10px;
		width: 60%;
		height: -webkit-calc(100% - 20px);
		height: expression(100% - 20px);
		height: -moz-calc(100% - 20px);
		height: -o-calc(100% - 20px);
		height: calc(100% - 20px);
		padding-bottom: 0;
		padding-top: 0;
		margin: 0;
	}

	.titulo {
		width: 100%;
		height: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Gotham-Medium;
		font-size: 23pt;
		color: rgba(15, 73, 101, 1);
	}

	.descripcion {
		width: 100%;
		height: 70%;
		font-family: Bariol-Regular;
		font-size: 15pt;
		color: black;
		text-align: justify;
	}

	.section-three {
		height: 110vh;
	}

	.grilla {
		position: relative;
		top: 2.5%;
		width: 95%;
		height: 90%;
	}

	.c1 {
		float: left;
		width: 33%;
		height: 100%;
		padding-top: 0;
		margin: 0;
	}

	.c2 {
		float: left;
		width: 33%;
		height: 100%;
		padding-top: 0;
		margin: 0;
	}

	.c3 {
		float: left;
		width: 33%;
		height: 100%;
		padding-top: 0;
		margin: 0;
		padding-bottom: 0;
	}

	.g1 {
		width: 95%;
		margin: auto;
	}

	.g2 {
		width: 95%;
		margin: auto;
	}

	.g3 {
		width: 95%;
		margin: auto;
	}

	.g4 {
		width: 95%;
		margin: auto;
	}

	.g5 {
		width: 95%;
		margin: auto;
	}

	.g6 {
		width: 95%;
		margin: auto;
	}

	.section-galery {
		height: 100vh;
	}

	.galery-container {
		width: 80%;
	}

	.texto-slider {
		width: 80%;
		font-size: 25pt;
	}

	.slide-desc {
		font-size: 14pt;
	}

	.section-products {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.texto-products {
		width: 45%;
		height: 70%;
		font-size: 25pt;
		padding-top: 0;
	}

	.container-products {
		width: 45%;
		height: 80%;
		border-radius: 5px;
	}

	.formulario {
		width: 70%;
		height: 95%;
	}

	.izquierda {
		float: left;
		width: 40%;
		height: 100%;
	}

	.derecha {
		float: left;
		width: 60%;
		height: 100%;
	}

	.texto-contacto {
		border-right: 3px solid rgba(15, 73, 101, 1);
	}

	.section-five {
		height: 500px;
	}

	.contacto {
		width: 95%;
		height: 90%;
	}

	.contacto-texto {
		float: left;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mapa {
		float: left;
		width: 50%;
		height: 100%;
	}

	.informacion {
		width: 90%;
		height: 90%;
	}

	.copyright {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	nav {
		margin-right: 10%;
	}

	nav ul li a {
		font-size: 20pt;
	}

	.nombre {
		font-size: 40pt;
	}

	.tipo {
		font-size: 40pt;
	}

	.texto-head p {
		font-size: 25pt;
	}

	.container-bienvenida {
		width: 60%;
	}

	.section-three {
		height: 100vh;
	}

	.grilla {
		width: 85%;
	}

	.g1 {
		width: 100%;
		height: 50%;
	}

	.g2 {
		width: 100%;
		height: 50%;
		padding-top: 0;
	}

	.g3 {
		width: 100%;
		height: 50%;
	}

	.g4 {
		width: 100%;
		height: 50%;
		padding-top: 0;
	}

	.g5 {
		width: 100%;
		height: 50%;
	}

	.g6 {
		width: 100%;
		height: 50%;
		padding-top: 0;
	}

	.card {
		width: 80%;
		height: 80%;
	}

	.galery-container {
		width: 900px;
		height: 500px;
	}

	.text1 {
		font-size: 38pt;
	}

	.text1 div {
		left: 0;
	}

	.contacto {
		width: 80%;
		height: 90%;
	}

	.informacion {
		width: 83%;
		height: 83%;
	}
}